*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-bar{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
input{
    font-size: 2rem;
    width: 40%;
}
.person{
    border: 1px solid black;
}
.card{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(900px,2fr));
}